__pycache__/
*.py[cod]
**/node_modules/
**/package*.json
First Year/Introduction to Cryptocurrencies/ex3_files/server/*
First Year/Deep Neural Neworks/Home Exercises/ex4/student_305536575*/*
First Year/Deep Neural Neworks/Home Exercises/ex4/student_305536575*.zip